* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

header {
	background: #3B2E28;
	padding: 2%;
}

nav {
	float: right;
}

.wrap:after {
  content: "";
  display: block;
  clear: both;
}

.box-rotate-wrap {
  float: left;
  margin: 0 30px 30px 0;
  perspective: 1000px;
  text-align: center;
  line-height: 40px;
}

.box, .box > div {
  width: 150px;
  height: 40px;
}

.box-rotate {
  position: relative;
  transition: all 0.8s ease;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, -100px);
}

.box-rotate > div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #fff;
 /* padding: 20px;*/
  overflow: auto;
}

.box-rotate .front {
  background: #3B2E28;
  color: beige;
  z-index: 2;
  transform: rotate3d(0, 1, 0, 0deg) translate3d(0, 0, 19px);
}

.box-rotate .top {
  background: beige;
  color: #3B2E28;
  height: 40px;
  transform: rotate3d(1, 0, 0, 90deg) translate3d(0, 0, 19px);
}

.box-rotate-top:hover {
  transform: translate3d(0, 0, -100px) rotate3d(1, 0, 0, -90deg);
}

.box.box-blend div {
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}
